.svg-3-1 {
  letter-spacing: -0.02em;
}

.svg-3-2 {
  letter-spacing: -0.02em;
}

.svg-3-3 {
  letter-spacing: -0.04em;
}

.svg-3-4 {
  letter-spacing: -0.03em;
}

.svg-3-4,
.svg-3-5 {
  font-size: 20px;
}

.svg-3-6,
.svg-3-7 {
  letter-spacing: 0em;
}

.svg-3-6,
.svg-3-8,
.svg-3-9,
.svg-3-10,
.svg-3-11,
.svg-3-12,
.svg-3-13,
.svg-3-14,
.svg-3-15,
.svg-3-16,
.svg-3-17,
.svg-3-18,
.svg-3-19,
.svg-3-20,
.svg-3-21,
.svg-3-22,
.svg-3-23,
.svg-3-24,
.svg-3-25,
.svg-3-26,
.svg-3-27,
.svg-3-28,
.svg-3-29,
.svg-3-30,
.svg-3-31,
.svg-3-32,
.svg-3-33,
.svg-3-34,
.svg-3-35,
.svg-3-36,
.svg-3-37,
.svg-3-38,
.svg-3-39,
.svg-3-40,
.svg-3-41,
.svg-3-42,
.svg-3-43,
.svg-3-44,
.svg-3-45,
.svg-3-46,
.svg-3-47,
.svg-3-48,
.svg-3-49,
.svg-3-50,
.svg-3-51,
.svg-3-52,
.svg-3-53,
.svg-3-54,
.svg-3-55,
.svg-3-56,
.svg-3-57,
.svg-3-58,
.svg-3-59,
.svg-3-60,
.svg-3-61,
.svg-3-62,
.svg-3-63,
.svg-3-64,
.svg-3-65,
.svg-3-66,
.svg-3-67,
.svg-3-68,
.svg-3-69,
.svg-3-70,
.svg-3-71,
.svg-3-72,
.svg-3-73,
.svg-3-74,
.svg-3-75,
.svg-3-76,
.svg-3-77,
.svg-3-78,
.svg-3-79,
.svg-3-80,
.svg-3-81,
.svg-3-82,
.svg-3-83,
.svg-3-84,
.svg-3-85,
.svg-3-86,
.svg-3-87,
.svg-3-88,
.svg-3-89,
.svg-3-90,
.svg-3-91,
.svg-3-92,
.svg-3-93,
.svg-3-94,
.svg-3-95,
.svg-3-96,
.svg-3-97,
.svg-3-98,
.svg-3-99,
.svg-3-100,
.svg-3-101,
.svg-3-102 {
  fill: #1861ab;
}

.svg-3-7,
.svg-3-103,
.svg-3-104,
.svg-3-105,
.svg-3-106,
.svg-3-107,
.svg-3-108,
.svg-3-109,
.svg-3-110,
.svg-3-111,
.svg-3-112,
.svg-3-113,
.svg-3-114,
.svg-3-115,
.svg-3-116,
.svg-3-117,
.svg-3-118,
.svg-3-119,
.svg-3-120,
.svg-3-121,
.svg-3-122,
.svg-3-123,
.svg-3-124,
.svg-3-125,
.svg-3-126,
.svg-3-127,
.svg-3-128,
.svg-3-129,
.svg-3-130,
.svg-3-131,
.svg-3-132,
.svg-3-133,
.svg-3-134,
.svg-3-135,
.svg-3-136,
.svg-3-137,
.svg-3-138,
.svg-3-139,
.svg-3-140,
.svg-3-141,
.svg-3-142,
.svg-3-143,
.svg-3-144,
.svg-3-145,
.svg-3-146,
.svg-3-147,
.svg-3-148,
.svg-3-149,
.svg-3-150,
.svg-3-151,
.svg-3-152,
.svg-3-153,
.svg-3-154,
.svg-3-155,
.svg-3-156,
.svg-3-157,
.svg-3-158,
.svg-3-159,
.svg-3-160,
.svg-3-161,
.svg-3-162,
.svg-3-163,
.svg-3-164,
.svg-3-165,
.svg-3-166,
.svg-3-167,
.svg-3-168,
.svg-3-169,
.svg-3-170,
.svg-3-171,
.svg-3-172,
.svg-3-173,
.svg-3-174,
.svg-3-175 {
  fill: #676867;
}

.svg-3-176 {
  letter-spacing: -0.04em;
}

.svg-3-8 {
  letter-spacing: 0em;
}

.svg-3-177 {
  letter-spacing: -0.05em;
}

.svg-3-178 {
  letter-spacing: 0em;
}

.svg-3-179 {
  letter-spacing: -0.05em;
}

.svg-3-180 {
  letter-spacing: 0.1em;
}

.svg-3-181 {
  letter-spacing: -0.05em;
}

.svg-3-182 {
  letter-spacing: 0.05em;
}

.svg-3-183 {
  letter-spacing: -0.01em;
}

.svg-3-9,
.svg-3-103 {
  letter-spacing: 0em;
}

.svg-3-184 {
  letter-spacing: 0.03em;
}

.svg-3-185 {
  letter-spacing: -0.05em;
}

.svg-3-186 {
  letter-spacing: -0.02em;
}

.svg-3-187 {
  letter-spacing: 0.21em;
}

.svg-3-188 {
  letter-spacing: -0.04em;
}

.svg-3-189 {
  letter-spacing: -0.05em;
}

.svg-3-190 {
  letter-spacing: 0em;
}

.svg-3-104,
.svg-3-10 {
  letter-spacing: -0.02em;
}

.svg-3-191 {
  letter-spacing: -0.02em;
}

.svg-3-192 {
  letter-spacing: -0.04em;
}

.svg-3-193 {
  letter-spacing: 0.05em;
}

.svg-3-194 {
  letter-spacing: 0.43em;
}

.svg-3-195 {
  letter-spacing: 0.1em;
}

.svg-3-196 {
  letter-spacing: -0.05em;
}

.svg-3-197 {
  letter-spacing: 0.43em;
}

.svg-3-11,
.svg-3-105 {
  letter-spacing: 0em;
}

.svg-3-106 {
  letter-spacing: -0.01em;
}

.svg-3-198 {
  letter-spacing: -0.01em;
}

.svg-3-199 {
  letter-spacing: -0.08em;
}

.svg-3-200 {
  letter-spacing: 0em;
}

.svg-3-12,
.svg-3-107 {
  letter-spacing: 0.45em;
}

.svg-3-201 {
  letter-spacing: 0.23em;
}

.svg-3-13 {
  letter-spacing: 0.45em;
}

.svg-3-202 {
  letter-spacing: 0.04em;
}

.svg-3-203 {
  letter-spacing: -0.04em;
}

.svg-3-108 {
  letter-spacing: 0.05em;
}

.svg-3-204 {
  letter-spacing: -0.04em;
}

.svg-3-205 {
  letter-spacing: 0.05em;
}

.svg-3-206 {
  letter-spacing: 0em;
}

.svg-3-207 {
  letter-spacing: -0.08em;
}

.svg-3-208 {
  clip-path: url(#clippath);
}

.svg-3-209 {
  letter-spacing: 0em;
}

.svg-3-210 {
  letter-spacing: 0em;
}

.svg-3-211,
.svg-3-212,
.svg-3-98,
.svg-3-213,
.svg-3-214,
.svg-3-215,
.svg-3-168 {
  stroke-width: 0px;
}

.svg-3-211,
.svg-3-216,
.svg-3-217 {
  fill: none;
}

.svg-3-218 {
  letter-spacing: -0.08em;
}

.svg-3-14 {
  letter-spacing: 0.21em;
}

.svg-3-219 {
  letter-spacing: 0em;
}

.svg-3-109,
.svg-3-15 {
  font-size: 11.05px;
}

.svg-3-109,
.svg-3-15,
.svg-3-220,
.svg-3-18,
.svg-3-119,
.svg-3-221,
.svg-3-28,
.svg-3-125,
.svg-3-222,
.svg-3-53,
.svg-3-55,
.svg-3-56,
.svg-3-223,
.svg-3-172,
.svg-3-101 {
  font-family: Montserrat-Regular, Montserrat;
}

.svg-3-224 {
  letter-spacing: 0.05em;
}

.svg-3-225 {
  letter-spacing: -0.08em;
}

.svg-3-226,
.svg-3-227,
.svg-3-228,
.svg-3-229,
.svg-3-230,
.svg-3-231,
.svg-3-232,
.svg-3-233,
.svg-3-234,
.svg-3-215 {
  fill: #fff;
}

.svg-3-226,
.svg-3-235,
.svg-3-228,
.svg-3-230,
.svg-3-236,
.svg-3-237 {
  font-size: 17px;
}

.svg-3-226,
.svg-3-233 {
  font-family: MyriadPro-Regular, "Myriad Pro";
}

.svg-3-110 {
  letter-spacing: 0.04em;
}

.svg-3-238 {
  letter-spacing: 0.05em;
}

.svg-3-239 {
  letter-spacing: 0.23em;
}

.svg-3-240 {
  letter-spacing: 0.23em;
}

.svg-3-111 {
  letter-spacing: 0em;
}

.svg-3-16 {
  letter-spacing: 0.21em;
}

.svg-3-17,
.svg-3-112 {
  letter-spacing: 0.02em;
}

.svg-3-220,
.svg-3-18 {
  font-size: 11.09px;
}

.svg-3-220,
.svg-3-222,
.svg-3-223,
.svg-3-214 {
  fill: #666766;
}

.svg-3-241 {
  letter-spacing: 0em;
}

.svg-3-113 {
  letter-spacing: 0.21em;
}

.svg-3-242 {
  letter-spacing: -0.03em;
}

.svg-3-114 {
  letter-spacing: 0.21em;
}

.svg-3-19,
.svg-3-115 {
  letter-spacing: 0.02em;
}

.svg-3-243 {
  fill: #1a61ab;
}

.svg-3-243,
.svg-3-229,
.svg-3-244,
.svg-3-232,
.svg-3-245,
.svg-3-246,
.svg-3-247 {
  font-family: MuseoSans-900, "Museo Sans";
}

.svg-3-243,
.svg-3-233 {
  font-size: 16px;
}

.svg-3-248 {
  letter-spacing: 0em;
}

.svg-3-249 {
  letter-spacing: 0em;
}

.svg-3-250 {
  letter-spacing: 0.12em;
}

.svg-3-251 {
  letter-spacing: 0em;
}

.svg-3-252 {
  letter-spacing: 0.33em;
}

.svg-3-20,
.svg-3-227,
.svg-3-116 {
  letter-spacing: 0.28em;
}

.svg-3-235,
.svg-3-228,
.svg-3-237 {
  letter-spacing: -0.03em;
}

.svg-3-235,
.svg-3-5,
.svg-3-244,
.svg-3-245,
.svg-3-246 {
  fill: #e73b2a;
}

.svg-3-253 {
  letter-spacing: 0em;
}

.svg-3-254 {
  letter-spacing: -0.03em;
}

.svg-3-255 {
  letter-spacing: -0.01em;
}

.svg-3-256 {
  letter-spacing: 0em;
}

.svg-3-257 {
  letter-spacing: -0.01em;
}

.svg-3-258 {
  letter-spacing: -0.01em;
}

.svg-3-22,
.svg-3-118 {
  letter-spacing: -0.03em;
}

.svg-3-230,
.svg-3-236 {
  letter-spacing: -0.03em;
}

.svg-3-119 {
  font-size: 13.32px;
}

.svg-3-23 {
  letter-spacing: 0em;
}

.svg-3-120 {
  letter-spacing: 0.04em;
}

.svg-3-259 {
  letter-spacing: -0.02em;
}

.svg-3-260 {
  letter-spacing: 0.17em;
}

.svg-3-261 {
  letter-spacing: 0.17em;
}

.svg-3-121 {
  letter-spacing: 0.15em;
}

.svg-3-122 {
  letter-spacing: 0.15em;
}

.svg-3-24,
.svg-3-123 {
  letter-spacing: -0.03em;
}

.svg-3-25 {
  letter-spacing: 0.3em;
}

.svg-3-262 {
  letter-spacing: 0em;
}

.svg-3-26 {
  letter-spacing: 0em;
}

.svg-3-263 {
  letter-spacing: -0.05em;
}

.svg-3-264 {
  letter-spacing: -0.05em;
}

.svg-3-265 {
  letter-spacing: 0em;
}

.svg-3-266 {
  letter-spacing: -0.01em;
}

.svg-3-267 {
  letter-spacing: -0.01em;
}

.svg-3-27,
.svg-3-124 {
  letter-spacing: -0.02em;
}

.svg-3-268 {
  letter-spacing: -0.01em;
}

.svg-3-269 {
  letter-spacing: -0.01em;
}

.svg-3-270 {
  letter-spacing: -0.01em;
}

.svg-3-221,
.svg-3-55 {
  font-size: 12.16px;
}

.svg-3-28,
.svg-3-125 {
  font-size: 12.92px;
}

.svg-3-271 {
  letter-spacing: 0em;
}

.svg-3-272 {
  letter-spacing: -0.05em;
}

.svg-3-273 {
  letter-spacing: 0.01em;
}

.svg-3-29 {
  letter-spacing: -0.02em;
}

.svg-3-30,
.svg-3-126 {
  letter-spacing: 0.13em;
}

.svg-3-127,
.svg-3-31 {
  letter-spacing: 0.13em;
}

.svg-3-128 {
  letter-spacing: 0.4em;
}

.svg-3-32 {
  letter-spacing: 0.11em;
}

.svg-3-274,
.svg-3-40,
.svg-3-134 {
  letter-spacing: 0em;
}

.svg-3-129 {
  letter-spacing: 0.4em;
}

.svg-3-33 {
  letter-spacing: 0.11em;
}

.svg-3-34,
.svg-3-130,
.svg-3-275 {
  letter-spacing: 0.01em;
}

.svg-3-276 {
  letter-spacing: -0.05em;
}

.svg-3-277 {
  letter-spacing: 0.25em;
}

.svg-3-35,
.svg-3-131 {
  letter-spacing: 0.01em;
}

.svg-3-36 {
  letter-spacing: -0.02em;
}

.svg-3-278 {
  letter-spacing: 0.5em;
}

.svg-3-279 {
  letter-spacing: 0.5em;
}

.svg-3-37,
.svg-3-132 {
  letter-spacing: 0.01em;
}

.svg-3-280 {
  letter-spacing: 0.5em;
}

.svg-3-38 {
  letter-spacing: 0em;
}

.svg-3-281 {
  letter-spacing: 0.24em;
}

.svg-3-282 {
  letter-spacing: 0.01em;
}

.svg-3-39,
.svg-3-133 {
  letter-spacing: -0.01em;
}

.svg-3-283 {
  letter-spacing: 0.01em;
}

.svg-3-284 {
  letter-spacing: -0.02em;
}

.svg-3-285 {
  letter-spacing: 0em;
}

.svg-3-41 {
  letter-spacing: 0.01em;
}

.svg-3-286 {
  letter-spacing: 0em;
}

.svg-3-287 {
  letter-spacing: 0.27em;
}

.svg-3-288 {
  letter-spacing: 0.27em;
}

.svg-3-222 {
  font-size: 12px;
}

.svg-3-289 {
  letter-spacing: -0.05em;
}

.svg-3-290 {
  letter-spacing: 0.24em;
}

.svg-3-42 {
  letter-spacing: 0em;
}

.svg-3-291 {
  letter-spacing: -0.01em;
}

.svg-3-292 {
  letter-spacing: 0em;
}

.svg-3-43,
.svg-3-135 {
  letter-spacing: -0.02em;
}

.svg-3-44 {
  letter-spacing: 0em;
}

.svg-3-293 {
  letter-spacing: 0.07em;
}

.svg-3-294 {
  letter-spacing: 0.49em;
}

.svg-3-295 {
  letter-spacing: -0.05em;
}

.svg-3-296 {
  letter-spacing: 0.49em;
}

.svg-3-297 {
  letter-spacing: 0.49em;
}

.svg-3-298 {
  letter-spacing: 0.49em;
}

.svg-3-299 {
  letter-spacing: 0.49em;
}

.svg-3-300 {
  letter-spacing: 0em;
}

.svg-3-45,
.svg-3-136 {
  letter-spacing: -0.06em;
}

.svg-3-301 {
  clip-path: url(#clippath-1);
}

.svg-3-302 {
  clip-path: url(#clippath-2);
}

.svg-3-303 {
  letter-spacing: 0em;
}

.svg-3-304 {
  letter-spacing: 0em;
}

.svg-3-305 {
  letter-spacing: -0.02em;
}

.svg-3-306 {
  letter-spacing: -0.02em;
}

.svg-3-307 {
  letter-spacing: 0.07em;
}

.svg-3-308 {
  letter-spacing: 0em;
}

.svg-3-309 {
  letter-spacing: 0.02em;
}

.svg-3-310 {
  letter-spacing: 0em;
}

.svg-3-311 {
  letter-spacing: 0em;
}

.svg-3-312 {
  letter-spacing: 0em;
}

.svg-3-313 {
  letter-spacing: 0em;
}

.svg-3-46 {
  letter-spacing: -0.02em;
}

.svg-3-314 {
  letter-spacing: 0.79em;
}

.svg-3-315 {
  letter-spacing: 0.79em;
}

.svg-3-47 {
  letter-spacing: 0.34em;
}

.svg-3-48,
.svg-3-137 {
  letter-spacing: 0.17em;
}

.svg-3-316 {
  letter-spacing: -0.02em;
}

.svg-3-231 {
  font-size: 11.11px;
}

.svg-3-231,
.svg-3-234 {
  font-family: Montserrat-SemiBold, Montserrat;
  font-weight: 600;
}

.svg-3-317 {
  letter-spacing: 0.81em;
}

.svg-3-318 {
  letter-spacing: 0em;
}

.svg-3-138,
.svg-3-49 {
  letter-spacing: -0.02em;
}

.svg-3-319 {
  letter-spacing: -0.04em;
}

.svg-3-320 {
  letter-spacing: 0.05em;
}

.svg-3-321 {
  letter-spacing: -0.02em;
}

.svg-3-322 {
  letter-spacing: -0.02em;
}

.svg-3-323 {
  letter-spacing: -0.02em;
}

.svg-3-5 {
  letter-spacing: -0.03em;
}

.svg-3-324 {
  letter-spacing: 0.14em;
}

.svg-3-50,
.svg-3-139 {
  letter-spacing: 0.12em;
}

.svg-3-325 {
  letter-spacing: 0.15em;
}

.svg-3-326 {
  letter-spacing: 0em;
}

.svg-3-51 {
  letter-spacing: 0.62em;
}

.svg-3-52 {
  letter-spacing: 0.62em;
}

.svg-3-327 {
  letter-spacing: 1.15em;
}

.svg-3-328 {
  letter-spacing: 1.15em;
}

.svg-3-53 {
  font-size: 6.45px;
}

.svg-3-329 {
  letter-spacing: 0.03em;
}

.svg-3-54 {
  letter-spacing: 0em;
}

.svg-3-56,
.svg-3-223 {
  font-size: 6.47px;
}

.svg-3-330 {
  letter-spacing: -0.01em;
}

.svg-3-331 {
  letter-spacing: -0.01em;
}

.svg-3-57,
.svg-3-140 {
  letter-spacing: 0.12em;
}

.svg-3-332 {
  letter-spacing: 0.03em;
}

.svg-3-333 {
  letter-spacing: 0.04em;
}

.svg-3-334 {
  letter-spacing: 0em;
}

.svg-3-335 {
  letter-spacing: 0.01em;
}

.svg-3-58 {
  letter-spacing: 0.65em;
}

.svg-3-336 {
  letter-spacing: 0.58em;
}

.svg-3-337 {
  letter-spacing: 0.58em;
}

.svg-3-338 {
  letter-spacing: 0.14em;
}

.svg-3-339 {
  letter-spacing: 0.14em;
}

.svg-3-141 {
  letter-spacing: 0.3em;
}

.svg-3-59 {
  letter-spacing: 0em;
}

.svg-3-340 {
  letter-spacing: -0.02em;
}

.svg-3-341 {
  letter-spacing: 0em;
}

.svg-3-342 {
  letter-spacing: 0.15em;
}

.svg-3-343 {
  letter-spacing: 0.02em;
}

.svg-3-344 {
  letter-spacing: 0.3em;
}

.svg-3-345 {
  letter-spacing: 0.15em;
}

.svg-3-346 {
  letter-spacing: 0em;
}

.svg-3-142 {
  letter-spacing: 0em;
}

.svg-3-244,
.svg-3-232 {
  font-size: 19.97px;
}

.svg-3-347 {
  letter-spacing: 0em;
}

.svg-3-348 {
  letter-spacing: -0.01em;
}

.svg-3-60 {
  letter-spacing: 0.02em;
}

.svg-3-349 {
  letter-spacing: 0.16em;
}

.svg-3-61 {
  letter-spacing: 0.65em;
}

.svg-3-212 {
  fill: url(#Degradado_sin_nombre_7);
}

.svg-3-350 {
  letter-spacing: 0em;
}

.svg-3-351 {
  letter-spacing: 0.02em;
}

.svg-3-352 {
  letter-spacing: -0.06em;
}

.svg-3-353 {
  letter-spacing: -0.06em;
}

.svg-3-354 {
  letter-spacing: 0.3em;
}

.svg-3-143 {
  letter-spacing: -0.03em;
}

.svg-3-355 {
  letter-spacing: 0em;
}

.svg-3-356 {
  letter-spacing: 0.17em;
}

.svg-3-62,
.svg-3-144 {
  letter-spacing: -0.06em;
}

.svg-3-357 {
  letter-spacing: -0.06em;
}

.svg-3-358 {
  letter-spacing: 0.12em;
}

.svg-3-359 {
  letter-spacing: 0.12em;
}

.svg-3-360 {
  letter-spacing: 0em;
}

.svg-3-63,
.svg-3-145 {
  letter-spacing: 0.3em;
}

.svg-3-64 {
  letter-spacing: 0.06em;
}

.svg-3-361 {
  letter-spacing: 0em;
}

.svg-3-362 {
  letter-spacing: 0em;
}

.svg-3-363 {
  letter-spacing: 0em;
}

.svg-3-364 {
  letter-spacing: 0em;
}

.svg-3-365 {
  fill: #f8ab1f;
  letter-spacing: 0.59em;
}

.svg-3-65 {
  letter-spacing: 0.59em;
}

.svg-3-366 {
  letter-spacing: 0em;
}

.svg-3-367 {
  letter-spacing: 0em;
}

.svg-3-66 {
  letter-spacing: -0.03em;
}

.svg-3-368 {
  letter-spacing: 0em;
}

.svg-3-369 {
  letter-spacing: 0em;
}

.svg-3-370 {
  letter-spacing: 0em;
}

.svg-3-371 {
  letter-spacing: -0.03em;
}

.svg-3-372 {
  letter-spacing: 0em;
}

.svg-3-373 {
  letter-spacing: 0em;
}

.svg-3-374 {
  letter-spacing: -0.03em;
}

.svg-3-375 {
  letter-spacing: 0em;
}

.svg-3-376 {
  letter-spacing: 0em;
}

.svg-3-377 {
  letter-spacing: 0em;
}

.svg-3-378 {
  letter-spacing: 0em;
}

.svg-3-146 {
  letter-spacing: -0.03em;
}

.svg-3-379 {
  letter-spacing: 0.22em;
}

.svg-3-147 {
  letter-spacing: -0.01em;
}

.svg-3-380 {
  letter-spacing: -0.05em;
}

.svg-3-234 {
  font-size: 6.48px;
}

.svg-3-381 {
  letter-spacing: 0em;
}

.svg-3-382 {
  letter-spacing: -0.01em;
}

.svg-3-383 {
  letter-spacing: 0.22em;
}

.svg-3-384 {
  letter-spacing: -0.02em;
}

.svg-3-385 {
  letter-spacing: 0.01em;
}

.svg-3-386 {
  letter-spacing: -0.01em;
}

.svg-3-387 {
  letter-spacing: -0.01em;
}

.svg-3-67 {
  letter-spacing: 0.6em;
}

.svg-3-68 {
  letter-spacing: 0.6em;
}

.svg-3-69 {
  letter-spacing: 0.06em;
}

.svg-3-388 {
  letter-spacing: -0.04em;
}

.svg-3-245 {
  font-size: 19.1px;
}

.svg-3-389 {
  letter-spacing: 0em;
}

.svg-3-390 {
  letter-spacing: -0.04em;
}

.svg-3-391 {
  letter-spacing: -0.09em;
}

.svg-3-392 {
  letter-spacing: -0.05em;
}

.svg-3-70,
.svg-3-148 {
  letter-spacing: -0.02em;
}

.svg-3-71 {
  letter-spacing: 0em;
}

.svg-3-393 {
  letter-spacing: -0.09em;
}

.svg-3-394 {
  letter-spacing: -0.04em;
}

.svg-3-395 {
  letter-spacing: -0.04em;
}

.svg-3-72 {
  letter-spacing: 0em;
}

.svg-3-396 {
  letter-spacing: 0em;
}

.svg-3-149 {
  letter-spacing: 0.41em;
}

.svg-3-397 {
  letter-spacing: 0.08em;
}

.svg-3-398 {
  letter-spacing: 0.08em;
}

.svg-3-399 {
  letter-spacing: -0.05em;
}

.svg-3-400 {
  letter-spacing: -0.05em;
}

.svg-3-150 {
  letter-spacing: 0.81em;
}

.svg-3-151 {
  letter-spacing: -0.02em;
}

.svg-3-401 {
  letter-spacing: 0em;
}

.svg-3-73,
.svg-3-152 {
  letter-spacing: -0.02em;
}

.svg-3-153 {
  letter-spacing: -0.04em;
}

.svg-3-74 {
  letter-spacing: -0.04em;
}

.svg-3-154 {
  letter-spacing: 0.05em;
}

.svg-3-402 {
  letter-spacing: -0.09em;
}

.svg-3-75 {
  letter-spacing: -0.04em;
}

.svg-3-155 {
  letter-spacing: 0em;
}

.svg-3-403 {
  letter-spacing: 0.01em;
}

.svg-3-76,
.svg-3-156 {
  letter-spacing: 0.38em;
}

.svg-3-77,
.svg-3-157 {
  letter-spacing: 0.38em;
}

.svg-3-78,
.svg-3-158 {
  letter-spacing: 0em;
}

.svg-3-79 {
  letter-spacing: 0em;
}

.svg-3-404 {
  letter-spacing: 0em;
}

.svg-3-405 {
  letter-spacing: 0.18em;
}

.svg-3-406 {
  letter-spacing: -0.02em;
}

.svg-3-407 {
  letter-spacing: 0.17em;
}

.svg-3-80 {
  letter-spacing: 0em;
}

.svg-3-81 {
  letter-spacing: 0.2em;
}

.svg-3-408 {
  letter-spacing: 0.01em;
}

.svg-3-82 {
  letter-spacing: -0.02em;
}

.svg-3-409 {
  letter-spacing: 0em;
}

.svg-3-410 {
  letter-spacing: 0em;
}

.svg-3-411 {
  letter-spacing: 0.19em;
}

.svg-3-83 {
  letter-spacing: 0.26em;
}

.svg-3-412 {
  letter-spacing: 0.37em;
}

.svg-3-413 {
  letter-spacing: 0em;
}

.svg-3-414 {
  letter-spacing: 0em;
}

.svg-3-415 {
  letter-spacing: -0.02em;
}

.svg-3-416 {
  letter-spacing: -0.04em;
}

.svg-3-417 {
  letter-spacing: 0.75em;
}

.svg-3-418 {
  letter-spacing: 0.75em;
}

.svg-3-419 {
  letter-spacing: -0.02em;
}

.svg-3-84 {
  letter-spacing: 0.1em;
}

.svg-3-85 {
  letter-spacing: 0.1em;
}

.svg-3-420 {
  letter-spacing: 0em;
}

.svg-3-86 {
  letter-spacing: 0.26em;
}

.svg-3-421 {
  letter-spacing: 0.38em;
}

.svg-3-422 {
  letter-spacing: 0.37em;
}

.svg-3-87 {
  letter-spacing: 0.18em;
}

.svg-3-88 {
  letter-spacing: 0.18em;
}

.svg-3-89,
.svg-3-159 {
  letter-spacing: 0.37em;
}

.svg-3-90 {
  letter-spacing: 0.18em;
}

.svg-3-160 {
  letter-spacing: 0.37em;
}

.svg-3-423 {
  letter-spacing: -0.07em;
}

.svg-3-424 {
  letter-spacing: 0em;
}

.svg-3-425 {
  letter-spacing: -0.02em;
}

.svg-3-161 {
  letter-spacing: -0.04em;
}

.svg-3-426 {
  letter-spacing: 0.03em;
}

.svg-3-427 {
  letter-spacing: -0.01em;
}

.svg-3-428 {
  letter-spacing: -0.04em;
}

.svg-3-429 {
  letter-spacing: 0em;
}

.svg-3-430 {
  letter-spacing: 0em;
}

.svg-3-216 {
  stroke: #1861ab;
}

.svg-3-217 {
  stroke: #e73b2a;
}

.svg-3-91 {
  letter-spacing: 0.06em;
}

.svg-3-92 {
  letter-spacing: 0.06em;
}

.svg-3-431 {
  letter-spacing: 0em;
}

.svg-3-162,
.svg-3-93 {
  letter-spacing: 0em;
}

.svg-3-432 {
  letter-spacing: 0.05em;
}

.svg-3-433 {
  letter-spacing: 0em;
}

.svg-3-434 {
  letter-spacing: 0.39em;
}

.svg-3-435 {
  letter-spacing: 0.39em;
}

.svg-3-436 {
  letter-spacing: 0em;
}

.svg-3-437 {
  letter-spacing: 0.37em;
}

.svg-3-438 {
  letter-spacing: 0em;
}

.svg-3-94,
.svg-3-163 {
  letter-spacing: -0.02em;
}

.svg-3-439 {
  letter-spacing: 0em;
}

.svg-3-440 {
  letter-spacing: 0.39em;
}

.svg-3-441 {
  letter-spacing: 0.38em;
}

.svg-3-442 {
  letter-spacing: 0.1em;
}

.svg-3-443 {
  letter-spacing: 0.05em;
}

.svg-3-444 {
  letter-spacing: 0.1em;
}

.svg-3-445 {
  letter-spacing: 0em;
}

.svg-3-446 {
  letter-spacing: 0em;
}

.svg-3-246 {
  font-size: 24.47px;
}

.svg-3-447 {
  letter-spacing: 0em;
}

.svg-3-448 {
  letter-spacing: 0.1em;
}

.svg-3-449 {
  letter-spacing: 0.11em;
}

.svg-3-450 {
  letter-spacing: 0em;
}

.svg-3-451 {
  letter-spacing: 0.14em;
}

.svg-3-95,
.svg-3-164 {
  letter-spacing: -0.02em;
}

.svg-3-452 {
  letter-spacing: 1.1em;
}

.svg-3-96,
.svg-3-165 {
  letter-spacing: -0.02em;
}

.svg-3-453 {
  letter-spacing: -0.06em;
}

.svg-3-454 {
  letter-spacing: 1.1em;
}

.svg-3-166 {
  letter-spacing: -0.06em;
}

.svg-3-455 {
  letter-spacing: 0.14em;
}

.svg-3-97,
.svg-3-167 {
  letter-spacing: 0em;
}

.svg-3-456 {
  letter-spacing: 0.08em;
}

.svg-3-213 {
  fill: #1662ac;
}

.svg-3-169 {
  letter-spacing: -0.03em;
}

.svg-3-457 {
  letter-spacing: 0.38em;
}

.svg-3-458 {
  letter-spacing: 0.05em;
}

.svg-3-459 {
  letter-spacing: -0.02em;
}

.svg-3-460 {
  letter-spacing: 0em;
}

.svg-3-461 {
  letter-spacing: 0.19em;
}

.svg-3-462 {
  letter-spacing: 0em;
}

.svg-3-463 {
  letter-spacing: 0.19em;
}

.svg-3-464 {
  letter-spacing: 0.1em;
}

.svg-3-99,
.svg-3-170 {
  letter-spacing: 0em;
}

.svg-3-465 {
  letter-spacing: 0em;
}

.svg-3-100,
.svg-3-171 {
  letter-spacing: 0em;
}

.svg-3-466 {
  letter-spacing: 0.52em;
}

.svg-3-467 {
  letter-spacing: 0.14em;
}

.svg-3-468 {
  letter-spacing: 0.14em;
}

.svg-3-172,
.svg-3-101 {
  font-size: 7.53px;
}

.svg-3-469 {
  letter-spacing: 0.14em;
}

.svg-3-470 {
  letter-spacing: -0.06em;
}

.svg-3-471 {
  letter-spacing: 0.28em;
}

.svg-3-472 {
  letter-spacing: 0.28em;
}

.svg-3-473 {
  letter-spacing: 0.14em;
}

.svg-3-474 {
  letter-spacing: 0.28em;
}

.svg-3-173 {
  letter-spacing: -0.01em;
}

.svg-3-475 {
  letter-spacing: -0.01em;
}

.svg-3-476 {
  letter-spacing: 0.08em;
}

.svg-3-174 {
  letter-spacing: 0em;
}

.svg-3-477 {
  letter-spacing: 0.08em;
}

.svg-3-478 {
  letter-spacing: 0.14em;
}

.svg-3-479 {
  letter-spacing: 0.14em;
}

.svg-3-102,
.svg-3-175 {
  letter-spacing: 0.09em;
}

.svg-3-480 {
  letter-spacing: 0.54em;
}

.svg-3-481 {
  letter-spacing: 0.54em;
}

.svg-3-482 {
  letter-spacing: 0.54em;
}

.svg-3-483 {
  letter-spacing: 0.54em;
}

.svg-3-484 {
  letter-spacing: 0em;
}
